*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: black;}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{font-size: 18px; line-height: 30px; font-family: 'Quicksand', sans-serif;}

.header{width: 100%; height: 246px;font-family: 'GangwonEdu_OTFBoldA';}
.header_logo{width: 120px; height: 159px; margin: 30px auto; }

/*네브메뉴*/
.header_inner{width: 1320px; height: 50px; margin: auto;}

.header_inner ul li{float: left; width: 20%; padding: 10px 0px; text-align: center;}
.header_inner ul li a{font-size: 20px;  }

/*네브메뉴*/

.main{width: 1320px; height: 500px; margin: 100px auto;}
.main_t{width: 612px; height: 482px; float: left; background: url(../images/bg.png);}
.main_t h2{font-size: 25px; padding: 130px 0px 0px 90px;}
.main_t p{font-size: 15px; padding: 30px 90px;}
.main_i{float: right;}

.view{width: 1320px; height: 600px; margin: auto;}
.view ul li{width: 350px; height: 500px; text-align: center; float: left; margin: 0px 45px;}

.view_1{position: relative; border-radius: 200px 200px 0 0 ; overflow: hidden; }
.view_1 a{position: absolute; left: 50%; bottom: 30px; margin-left: -27px; color: white}
.view_1 :hover{transform: scale(1.5); transition: all 1s ease-in; }

.view_2{position: relative; border-radius: 200px 200px 0 0 ; overflow: hidden; }
.view_2 a{position: absolute; left: 50%; bottom: 30px; margin-left: -27px; color: white}
.view_2 :hover{transform: scale(1.5); transition: all 1s ease-in; }

.view_3{position: relative; border-radius: 200px 200px 0 0 ; overflow: hidden; }
.view_3 a{position: absolute; left: 50%; bottom: 30px; margin-left: -27px; color: white}
.view_3 :hover{transform: scale(1.5); transition: all 1s ease-in; }

.sub_banner{width: 100%; margin-top: 100px;}
.sub_banner img{width: 100%;}

.bottom{width: 1320px; height: 800px; margin: 100px auto; position: relative;}

.b1{text-align: right; position: absolute; top: 100px; left: 260px;}
.bimg2{position: absolute; top: 0; left: 650px;}
.bimg1{position: absolute; top:200px; left: 200px ;}
.b2{position: absolute; top: 650px; left: 820px;}

/*푸터*/
.footer{width: 100%; height: 400px; background-color: #fedfac; margin-top: 100px; position: relative;font-family: 'GangwonEdu_OTFBoldA';}
.footer_inner{width: 1320px; height: 300px; margin: auto;  padding: 40px 0px; text-align: center; }

.footer_inner ul{margin-left: 510px; margin-top: 20px;}
.footer_inner ul li{float: left; }
.footer_inner ul li a{display: block; padding: 0px 10px; }

.footer_inner ul li:nth-child(2){border-left: solid 1px black; border-right: solid 1px black;}

.sns{position: absolute; top: 300px; right: 200px;}
.sns ul li{float: left; padding: 10px ; ; }

.top{position: fixed; bottom:100px; right: 100px; z-index: 99;}